
<!-- // page-sidebar -->
<div class="page-sidebar">
    <ul class="list-unstyled accordion-menu">
      <li class="sidebar-title">셀러 관리</li>
      <li class="active-page">
        <a href="PPT07.셀러관리목록.html"><i data-feather="home"></i>목록</a>
      </li>
      <li class="sidebar-title">크리에이터 관리</li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>목록</a>
      </li>
      
      <li class="sidebar-title">셀러 콘텐츠 관리</li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>목록</a>
      </li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>등록</a>
      </li>

      <li class="sidebar-title">크리에이터 콘텐츠 관리</li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>목록</a>
      </li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>등록</a>
      </li>

      <li class="sidebar-title">여행 패키지 관리</li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>목록</a>
      </li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>등록</a>
      </li>

      <li class="sidebar-title">견적서 관리</li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>목록</a>
      </li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>등록</a>
      </li>
      <li class="sidebar-title">견적서 관리</li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>목록</a>
      </li>
      <li class="sidebar-title">여행사 회원 관리</li>
      <li>
        <a href="email.html"><i data-feather="inbox"></i>목록</a>
      </li>

      <li class="sidebar-title">게시판 관리</li>

      <li>
        <a href="index.html" class="active"><i data-feather="code"></i>공지사항<i class="fas fa-chevron-right dropdown-icon"></i></a>
        <ul class="">
          <li><a href="#" class="active"><i class="far fa-circle"></i>목록</a></li>
          <li><a href="@"><i class="far fa-circle"></i>등록</a></li>
        </ul>
      </li>
      <li>
        <a href="index.html" class="active"><i data-feather="code"></i>FAQ<i class="fas fa-chevron-right dropdown-icon"></i></a>
        <ul class="">
          <li><a href="#" class="active"><i class="far fa-circle"></i>목록</a></li>
          <li><a href="@"><i class="far fa-circle"></i>등록</a></li>
        </ul>
      </li>
      

    </ul>
</div>
<!-- // page-sidebar -->